<div class="row">
  <aside class="col-sm-4">
    <%= form_with(model: @task, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :status, 'Status：' %>
        <%= f.select :status, [["Working", "Working"], ["Done", "Done"], ["Pending", "Pending"]],{} , {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <%= f.label :content, 'Content：' %>
        <%= f.text_area :content, class: 'form-control', rows: 1 %>
      </div>
      <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
    <% end %>
  </aside>
  <div class="col-sm-8">
    <%= render 'tasks/tasks', tasks: @tasks %>
  </div>
</div>